<%= simple_form_for @bookmark, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f| %>
    <div class="form-group">
      <%= f.input :url, input_html:  { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.input :category_id,:collection => current_user.categories.order("name"),:label_method => :name, :value_method => :id,
        :label => "Category" ,:include_blank => false, prompt: "Choose Category", input_html: { class: "form-control" }%>
    </div>
    <div class="form-group">    
      <%= f.input :description, input_html: { class: "form-control" } %>
    </div>

  <div class="form-group">
    <div class='container'>
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel'),
                  bookmarks_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
