$('#my-bookmarks').append('<%= j render @bookmarks, show_category: true %>');
<% if @bookmarks.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @bookmarks %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>