<div class="page-header">
  <h1><%=t('.title') %></h1>
</div>

<%= link_to t('.new'),
            new_bookmark_path,
            :class => 'btn btn-primary' %>
<br>
<br>
<div id="my-bookmarks">
<ul class="list-group">
  <%= render @bookmarks, show_category: true  %>
</ul>
 
</div>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>