<div class="page-header">
  <h1><%= t('.title') %></h1>
</div>


<div class="fieldset">
  <ul class="list-group">
      <dt class="label label-default"><%= t('.name') %></dt>
      <li class="list-group-item prettyprint"><%= @bookmark.title %></li>
      <dt class="label label-default"><%= t('.url') %></dt>
      <li class="list-group-item prettyprint"><%= @bookmark.url %></li>
      <dt class="label label-default"><%= t('.category') %></dt>
      <li class="list-group-item prettyprint"><%= @bookmark.category.name%></li>
      <dt class="label label-default"><%= t('.description') %></dt>
      <li class="list-group-item prettyprint"><%= @bookmark.description %></li>
  </ul>
</div>


<div class="form-group">
  <%= link_to t('.back'),
              bookmarks_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit'),
              edit_bookmark_path(@bookmark), :class => 'btn btn-default' %>
  <%= link_to t('.destroy'),
              bookmark_path(@bookmark),
              :method => 'delete',
              :class => 'btn btn-danger' %>
</div>