
<h3 class="text-center"><%=link_to t('.get_started_category'), new_category_path unless current_user.categories.any? %></h3>
<h3 class="text-center"><%=link_to t('.get_started_bookmark'), new_bookmark_path if !current_user.bookmarks.any? and current_user.categories.any? %></h3>

<ul class="list-group">
  <div id="categories-home">
    <%= render @categories %>
  </div>
</ul>
 
<div id="infinite-scrolling">
  <%= will_paginate @categories %>
</div>

