$('#categories-home').append('<%= j render @categories %>');
<% if @categories.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @categories %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>