/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require devise_bootstrap_views
 *= require_tree .
 */
 body { padding-top: 60px; } 
@import "bootstrap";
@import "bootstrap/theme";

div.select2-container{
    min-width: 190px;
}
#user_remember_me{
    margin-left: auto;
}

.form-group {
	margin-top: 15px;
}

.navbar-form > div:nth-child(2) {
	margin-top: 0px;
}
.well {
	margin-top: 40px;
}