<% if category.bookmarks.any? %>
  <li class="list-group-item">
    <div class="well well-sm">
    <h2><%= category.name %></h2>
  </div>


    <ul class="list-group">
    <% category.bookmarks.last(5).reverse.each do |bookmark|%> 
     <li class="list-group-item">
      <h2><%= link_to bookmark.title, bookmark.url, target: "_blank" %></h2>
      <div class="bookmark">
      <p><%= truncate(strip_tags(bookmark.description), length: 250) %></p>
  <div>
  <%=link_to t('bookmarks.bookmark.show'), bookmark_path(bookmark), class: "btn btn-default btn-xs" %>
  <%=link_to t('bookmarks.show.edit'), edit_bookmark_path(bookmark), class: "btn btn-default btn-xs" %>
  <%=link_to t('bookmarks.show.destroy'), bookmark_path(bookmark), :method => 'delete', class: "btn btn-danger btn-xs" %>
  </div>
  <small><em><%= bookmark.timestamp %></em></small>
</div>
</li>

    <% end %>

    </ul>
      <%= link_to t('.more'), category_path(category)%>
  </li>
  <% end %>