<%= simple_form_for @category, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f| %>
	<div class="form-group">
    <%= f.input :name, input_html: { class: "form-control" } %>
  </div>
  <div class="form-group">
    <div class="container">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel'),
                  categories_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
