<%- model_class = Category -%>
<div class="page-header panel panel-default">
	<div class="panel-heading">
  	<h1><%=t('.title')%></h1>
	</div>
	<div class="panel-body">
		<%= render :partial => 'form' %>
	</div>
</div>