<div class="page-header">
  <h1><%=t('.title') %></h1>
</div>

<%= link_to t('.new'), new_category_path, :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.created_at') %></th>
      <th><%= t(".actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
          <td><%=link_to category.name, category_path(category)%></td>
        <td><%=l category.created_at, format: :long %></td>
        <td>
          <%= link_to edit_category_path(category), :class => 'btn btn-xs', :title => "#{ t('.edit')}" do %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to category_path(category), :method => :delete, :data => { :confirm => t('.confirm') }, 
              :class => 'btn btn-xs', :title => "#{ t('.destroy')}" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
