
<div class="page-header">
  <h1><%= t('.title') %> <%= @category.name %></h1>
</div>

<div class="form-group">
  <%= link_to t('.back'),
              categories_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit'),
              edit_category_path(@category), :class => 'btn btn-default' %>
  <%= link_to t('.destroy'),
              category_path(@category),
              :method => 'delete',
              :data => { :confirm => t('.confirm') },
              :class => 'btn btn-danger' %>
</div>


<div id="my-bookmarks">
  <%= render @bookmarks, show_category: false %>
</div>
 
<div id="infinite-scrolling">
  <%= will_paginate @bookmarks %>
</div>
